# **<u>Data Set Loading</u>**

In [75]:
import numpy as np

In [76]:
np.arange(0,3)

array([0, 1, 2])

In [77]:
import tabula as tb
from tabula import convert_into as ci
import pandas as pd

In [78]:
df = tb.read_pdf("dataset_pdf/ac2022.pdf", encoding='latin-1', pages='all')[0]

In [79]:
tb.convert_into("dataset_pdf/ac2022.pdf","acp2022.csv",output_format ="csv",pages="all")
print(df)

    S NO  APPLN\rNO   NAME OF THE CANDIDATE         DOB  AGGR\rMARK  RANK  \
0      1     331205              Renjitha K  14-10-2004         200     1
1      2     325132         Lokesh Kannan M  04-09-2004         200     3
2      3     269347           PRATEEKSHAA T  21-09-2004         200     6
3      4     289687              PAVITHRA B  08-10-2004         200     7
4      5     323336              HARIGURU J  09-09-2004         200     8
5      6     210660          MADHUBAALIKA M  14-09-2004         200     9
6      7     252764             SHARUKESH K  23-02-2005         200    10
7      8     318554           RAMYA MEENA M  06-08-2004         200    11
8      9     395088       M KARTHIK KRISHNA  10-06-2004         200    13
9     10     317150          VISVESSWAR A M  31-10-2004         200    14
10    11     338638           KIRUTHIGA P M  17-11-2004         200    15
11    12     294093         KARTHICK RAJA R  18-11-2004         200    17
12    13     205679              Ramyaa A P  19-08-2004         200    18
13    14     235064               VIGNESH A  31-10-2004         200    19
14    15     291381      SOWMIYA SUNDARAM G  02-09-2004         200    20
15    16     252017             Sangeetha.S  29-11-2004         200    21
16    17     324559         SIVANIPRIYA P S  15-06-2005         200    22
17    18     283391              AHALYA V S  28-05-2005         200    23
18    19     302352               JASMINE A  05-12-2004         200    24
19    20     311775                DEEPAK S  10-02-2005         200    25
20    21     224065           SHYAM ARJUN A  10-02-2004         200    26
21    22     315985   SUBHASH KRISHNASAMY K  26-07-2005         200    27
22    23     311701          SELVA GANESH S  18-09-2004         200    28
23    24     215665                  Swetha  26-07-2005         200    30
24    25     227023            BRAGADEESH V  01-06-2005         200    31
25    26     294824               SHRIRAM.G  02-04-2005         200    32
26    27     275572         RAM PRASATH K V  12-03-2004         200    33
27    28     327533               BRINDHA B  05-03-2005         200    35
28    29     288370             LAVANYA S R  08-05-2005         200    36
29    30     269079    SHREYAS RAMANATHAN A  06-01-2005         200    38
30    31     293015               VENIZHA R  02-08-2005         200    39
31    32     284191  NALINAKSHAA KARTIKKA G  30-06-2004         200    41
32    33     387189           MATHUMITHA.MA  17-08-2004         200    42
33    34     272029               SANJENA G  01-06-2005         200    43
34    35     315595    DHARANI SENGOTTUVELU  22-11-2004         200    44
35    36     360565                PRANAV V  12-01-2004         200    45
36    37     394980              KEERTHAN S  17-03-2005         200    46
37    38     299620             SUBHA SRI R  30-09-2004         200    48
38    39     289288         UMESH KANNA K B  05-08-2005         200    49
39    40     325749                SRIRAM M  31-05-2005         200    50
40    41     255577         SHAKTHIDHARAN S  06-12-2004         200    51
41    42     251086                INIYAA N  23-12-2004         200    52
42    43     265216   SHARROLINE GLADIA A K  17-01-2005         200    53
43    44     266537                ROSHNI M  24-05-2005         200    54
44    45     250512              VINITHAA P  17-02-2005         200    55

   COMMU\rNITY  COLLEGE\rCODE BRANCH\rCODE ALLOTTED\rCATEGORY
0           BC              1           CS                 OC
1           BC              1           CS                 OC
2           BC           2006           CM                 OC
3           BC              1           CS                 OC
4           BC              1           CS                 OC
5           OC              1           CS                 OC
6           BC              1           CS                 OC
7           OC              1           BY                 OC
8           OC              1           CS                 OC
9           BC              1           CS                 OC
10          BC              1           CS                 OC
11          BC              1           CS                 OC
12          BC              1           CS                 OC
13          SC              1           CS                 OC
14          BC              1           CS                 OC
15          BC              1           CS                 OC
16          BC              1           CS                 OC
17          BC              1           CS                 BC
18         BCM           5008           CS                 OC
19          BC              1           CS                 BC
20          BC              1           CS                 BC
21          BC              1           CS                 BC
22          BC              1           CS                 BC
23          BC              1           EC                 OC
24          OC           2006           CM                 OC
25          OC              1           CM                 OC
26          BC              1           CS                 BC
27          OC              1           EC                 OC
28          OC           2006           CM                 OC
29          OC              1           CM                 OC
30          OC              1           CM                 OC
31          BC           2006           CM                 OC
32          BC              1           CS                 BC
33         MBC              1           CS                MBC
34          BC              1           CS                 BC
35          OC              1           CM                 OC
36         MBC              1           CS                MBC
37          BC           2006           EC                 OC
38          BC              1           EC                 OC
39          BC              1           CS                 BC
40          BC              1           CS                 BC
41          BC           2006           CM                 OC
42          BC           5008           CS                 OC
43          BC           2006           EC                 OC
44          BC           2006           CM                 OC

In [80]:
check = pd.read_csv(r"acp2022.csv")

In [81]:
check.head()

,S NO,APPLN\rNO,NAME OF THE CANDIDATE,DOB,AGGR\rMARK,RANK,COMMU\rNITY,COLLEGE\rCODE,BRANCH\rCODE,ALLOTTED\rCATEGORY
0,1,331205,Renjitha K,14-10-2004,200,1,BC,1,CS,OC
1,2,325132,Lokesh Kannan M,04-09-2004,200,3,BC,1,CS,OC
2,3,269347,PRATEEKSHAA T,21-09-2004,200,6,BC,2006,CM,OC
3,4,289687,PAVITHRA B,08-10-2004,200,7,BC,1,CS,OC
4,5,323336,HARIGURU J,09-09-2004,200,8,BC,1,CS,OC

In [82]:
print(check.shape)

(9423, 10)

In [83]:
check.drop(check.index[(check["S NO"] == "S NO")],axis=0,inplace=True)

In [84]:
check.to_csv("acp2022.csv")

In [85]:
print(check.shape)

(9218, 10)

In [86]:
def conv(inp,out):
  df = tb.read_pdf(inp, encoding='latin-1', pages='all')[0]
  tb.convert_into(inp,out,output_format ="csv",pages="all")
  check = pd.read_csv(out)
  check.drop(check.index[(check["RANK"] == "RANK")],axis=0,inplace=True)
  check.to_csv(out)
  print(check.shape)

In [87]:
conv("dataset_pdf/ac2022.pdf","acp2022.csv")

(9218, 10)

In [88]:
conv("dataset_pdf/ac2021.pdf","acp2021.csv")

(10148, 9)

In [89]:
conv("dataset_pdf/ac2020.pdf","acp2020.csv")

(7510, 9)

In [94]:
check = pd.read_csv(r"acp2020.csv")

In [95]:
check.isna().sum()

Unnamed: 0               0
S.NO                     0
APPLICATION\rNO          0
NAME OF THE CANDIDATE    0
COMMUNITY                0
RANK                     0
AGGR\rMARK               0
COLLEGE\rCODE            0
BRANCH\rCODE             0
ALLOTTED\rCATEGORY       0
dtype: int64

In [96]:
conv("dataset_pdf/ac2018.pdf","acp2018.csv")

KeyError: 'RANK'

In [97]:
conv("dataset_pdf/ac2019.pdf","acp2019.csv")

(6909, 10)